table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}
  
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr{
    cursor: pointer;
}
  
.selected{
    background-color: #a8601c;
    color: red;
}

tr:nth-child(even) {
    background-color: #e9eb6d;
}

tr:nth-child(odd) {
    background-color: #ffffff;
}



